{% extends "base.html" %}
{% block title %} 
  学生  
{% end %}

{% block content %}
	<a href="couedit/new">录入学生</a>
	<hr>
	<table>
		<tr>
			<td>学号  </td>
			<td>姓名  </td>
			<td>出生日期  </td>
			<td>性别  </td>
			<td>班级  </td>
			<td>说明  </td>
		</tr>
		{% for cou in courses %}
		<tr>
			<td>{{ cou['cou_no'] }}</td>
			<td>{{ cou['name'] }}</td>
			<td>{{ cou['birth'] }}</td>
			<td>{{ cou['sex'] }}</td>
			<td>{{ cou['grade'] }}</td>
			<td>{{ cou['notes'] if cou['notes'] is not None else '' }}</td>
			<td>
				<a href="couedit/{{cou['cou_sn']}}"> 修改 </a> &nbsp;
				<a href="coudel/{{cou['cou_sn']}}"> 删除 </a>
			</td>
		</tr>
		{% end %}
	</table> 
{% end %}
